@model Birim
@{
    ViewData["Title"] = "YeniBirim";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<br />
<div class="row">

    <form method="post">
        <div class="col-md-5W">

            <div class="form-group">
                <b> <label>Birim Adı</label></b>
                <input asp-for="BirimAd" type="text" class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-info">Birim Ekle</button>
        </div>
    </form>

</div>





